<h1>Содержание<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Аналитика" data-toc-modified-id="Аналитика-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Аналитика</a></span></li><li><span><a href="#Чек-лист-проверки" data-toc-modified-id="Чек-лист-проверки-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Чек-лист проверки</a></span></li></ul></div>

# Спрос на рейсы авиакомпании

Заказчик — российская авиакомпания F9. , выполняющая внутренние пассажирские перевозки. Задача - понять предпочтения пользователей, покупающих билеты на разные направления, изучить базу данных и проанализировать спрос пассажиров на рейсы в города, где проходят крупнейшие культурные фестивали.


План работы: 

1. Загрузка и изучение данных.
2. Исследовательский анализ
3. Вывод.

Описание данных:
**query_1.csv** — таблица, в которой хранится информая об модели самолета и количестве рейсов
- *model* — **модель самолета;
- *flights_amount* — количество рейсов для каждой модели самолетов *model* в сентябре 2018 года.

**query_3.csv** — таблица, в которой содержится такая информация:

- *city* — город;
- *average_flights* — среднее количество рейсов, прибывающих в город (*city*) за день в сентябре 2018 года.



- импортировать файлы;
- изучить данные в них;
- проверить типы данных на корректность;
- выбрать топ-10 городов по количеству рейсов;
- построить графики: модели самолётов и количество рейсов, города и количество рейсов, топ-10 городов и количество рейсов;
- сделать выводы по каждому из графиков, пояснить результат.

## Загрузка и изучение данных
#### Импорт библиотек

In [ ]:
import pandas as pd

#### Загрузка данных

In [3]:
query_1 = pd.read_csv('query_1.csv')
query_3 = pd.read_csv('query_3.csv')

In [13]:
query_1.head(5)

             model  flights_amount
0  Airbus A319-100             607
1  Airbus A321-200             960
2   Boeing 737-300             630
3   Boeing 767-300             600
4   Boeing 777-300             300

In [14]:
query_3.head(5)

          city  average_flights
0       Абакан         3.870968
1      Анадырь         1.000000
2        Анапа         2.161290
3  Архангельск         5.354839
4    Астрахань         2.451613

Данные успешно загружены.

#### Изучение данных

In [5]:
query_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   model           8 non-null      object
 1   flights_amount  8 non-null      int64
dtypes: int64(1), object(1)
memory usage: 256.0+ bytes

In [7]:
query_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   city             101 non-null    object
 1   average_flights  101 non-null    float64
dtypes: float64(1), object(1)
memory usage: 1.7+ KB

In [10]:
query_1.duplicated().sum()

0

In [11]:
query_3.duplicated().sum()

0

Данные изучены: типы данных в порядке, попусков нет, дубликатов нет, приступаем к анализу.

## Исследовательский анализ.

## Чек-лист проверки

- [x]  Jupyter Notebook открыт
- [ ]  Весь код выполняется без ошибок
- [ ]  Ячейки с кодом расположены в порядке исполнения
- [ ]  Файлы изучены
- [ ]  Типы данных проверены на корректность
- [ ]  Выбран топ-10 городов по количеству рейсов
- [ ]  Построен график «Модели самолётов и количество рейсов»
- [ ]  Построен график «Города и количество рейсов»
- [ ]  Построен график «Топ-10 городов и количество рейсов»
- [ ]  На каждом этапе написаны выводы
- [ ]  Написан общий вывод