# Исследование надёжности заёмщиков

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#-Комментарий-ревьюера" data-toc-modified-id="-Комментарий-ревьюера-1"><span class="toc-item-num">1&nbsp;&nbsp;</span> Комментарий ревьюера</a></span></li><li><span><a href="#Исследование-надёжности-заёмщиков" data-toc-modified-id="Исследование-надёжности-заёмщиков-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Исследование надёжности заёмщиков</a></span></li><li><span><a href="#-Комментарий-ревьюера" data-toc-modified-id="-Комментарий-ревьюера-3"><span class="toc-item-num">3&nbsp;&nbsp;</span> Комментарий ревьюера</a></span><ul class="toc-item"><li><span><a href="#Шаг-1.-Откройте-файл-с-данными-и-изучите-общую-информацию." data-toc-modified-id="Шаг-1.-Откройте-файл-с-данными-и-изучите-общую-информацию.-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Шаг 1. Откройте файл с данными и изучите общую информацию.</a></span></li><li><span><a href="#Вывод" data-toc-modified-id="Вывод-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Вывод</a></span></li><li><span><a href="#Шаг-2.-Предобработка-данных" data-toc-modified-id="Шаг-2.-Предобработка-данных-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Шаг 2. Предобработка данных</a></span></li><li><span><a href="#Обработка-пропусков" data-toc-modified-id="Обработка-пропусков-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Обработка пропусков</a></span></li></ul></li><li><span><a href="#-Комментарий-ревьюера" data-toc-modified-id="-Комментарий-ревьюера-4"><span class="toc-item-num">4&nbsp;&nbsp;</span> Комментарий ревьюера</a></span><ul class="toc-item"><li><span><a href="#Вывод" data-toc-modified-id="Вывод-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Вывод</a></span></li></ul></li><li><span><a href="#-Комментарий-ревьюера" data-toc-modified-id="-Комментарий-ревьюера-5"><span class="toc-item-num">5&nbsp;&nbsp;</span> Комментарий ревьюера</a></span><ul class="toc-item"><li><span><a href="#Замена-типа-данных" data-toc-modified-id="Замена-типа-данных-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Замена типа данных</a></span></li><li><span><a href="#Вывод" data-toc-modified-id="Вывод-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Вывод</a></span></li><li><span><a href="#Обработка-дубликатов" data-toc-modified-id="Обработка-дубликатов-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Обработка дубликатов</a></span></li><li><span><a href="#Вывод" data-toc-modified-id="Вывод-5.4"><span class="toc-item-num">5.4&nbsp;&nbsp;</span>Вывод</a></span></li><li><span><a href="#Лемматизация" data-toc-modified-id="Лемматизация-5.5"><span class="toc-item-num">5.5&nbsp;&nbsp;</span>Лемматизация</a></span></li><li><span><a href="#Вывод" data-toc-modified-id="Вывод-5.6"><span class="toc-item-num">5.6&nbsp;&nbsp;</span>Вывод</a></span></li><li><span><a href="#Категоризация-данных" data-toc-modified-id="Категоризация-данных-5.7"><span class="toc-item-num">5.7&nbsp;&nbsp;</span>Категоризация данных</a></span></li></ul></li><li><span><a href="#-Комментарий-ревьюера" data-toc-modified-id="-Комментарий-ревьюера-6"><span class="toc-item-num">6&nbsp;&nbsp;</span> Комментарий ревьюера</a></span><ul class="toc-item"><li><span><a href="#Вывод" data-toc-modified-id="Вывод-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Вывод</a></span></li><li><span><a href="#Шаг-3.-Ответьте-на-вопросы" data-toc-modified-id="Шаг-3.-Ответьте-на-вопросы-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>Шаг 3. Ответьте на вопросы</a></span></li><li><span><a href="#Вывод" data-toc-modified-id="Вывод-6.3"><span class="toc-item-num">6.3&nbsp;&nbsp;</span>Вывод</a></span></li></ul></li><li><span><a href="#-Комментарий-ревьюера" data-toc-modified-id="-Комментарий-ревьюера-7"><span class="toc-item-num">7&nbsp;&nbsp;</span> Комментарий ревьюера</a></span><ul class="toc-item"><li><span><a href="#Вывод" data-toc-modified-id="Вывод-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>Вывод</a></span></li></ul></li><li><span><a href="#-Комментарий-ревьюера" data-toc-modified-id="-Комментарий-ревьюера-8"><span class="toc-item-num">8&nbsp;&nbsp;</span> Комментарий ревьюера</a></span><ul class="toc-item"><li><span><a href="#Вывод" data-toc-modified-id="Вывод-8.1"><span class="toc-item-num">8.1&nbsp;&nbsp;</span>Вывод</a></span></li></ul></li><li><span><a href="#-Комментарий-ревьюера" data-toc-modified-id="-Комментарий-ревьюера-9"><span class="toc-item-num">9&nbsp;&nbsp;</span> Комментарий ревьюера</a></span><ul class="toc-item"><li><span><a href="#Вывод" data-toc-modified-id="Вывод-9.1"><span class="toc-item-num">9.1&nbsp;&nbsp;</span>Вывод</a></span></li></ul></li><li><span><a href="#-Комментарий-ревьюера" data-toc-modified-id="-Комментарий-ревьюера-10"><span class="toc-item-num">10&nbsp;&nbsp;</span> Комментарий ревьюера</a></span><ul class="toc-item"><li><span><a href="#Шаг-4.-Общий-вывод" data-toc-modified-id="Шаг-4.-Общий-вывод-10.1"><span class="toc-item-num">10.1&nbsp;&nbsp;</span>Шаг 4. Общий вывод</a></span></li></ul></li><li><span><a href="#-Комментарий-ревьюера" data-toc-modified-id="-Комментарий-ревьюера-11"><span class="toc-item-num">11&nbsp;&nbsp;</span> Комментарий ревьюера</a></span></li><li><span><a href="#-Комментарий-ревьюера" data-toc-modified-id="-Комментарий-ревьюера-12"><span class="toc-item-num">12&nbsp;&nbsp;</span> Комментарий ревьюера</a></span><ul class="toc-item"><li><span><a href="#Чек-лист-готовности-проекта" data-toc-modified-id="Чек-лист-готовности-проекта-12.1"><span class="toc-item-num">12.1&nbsp;&nbsp;</span>Чек-лист готовности проекта</a></span></li></ul></li></ul></div>

Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.

Результаты исследования будут учтены при построении модели **кредитного скоринга** — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.


План работы: 

1. Загрузка и изучение данных.
2. Предобработка данных. 
3. Исследовательский анализ
4. Вывод.

Описание данных:


   - *children* — количество детей в семье
   - *days_employed* — общий трудовой стаж в днях
   - *dob_years* — возраст клиента в годах
   - *education* — уровень образования клиента
   - *education_id* — идентификатор уровня образования
   - *family_status* — семейное положение
   - *family_status_id* — идентификатор семейного положения
   - *gender* — пол клиента
   - *income_type* — тип занятости
   - *debt* — имел ли задолженность по возврату кредитов
   - *total_income* — ежемесячный доход
   - *purpose* — цель получения кредита

## 1. Открытие и изучение данных 
#### Импорт библиотек

In [14]:
import pandas as pd

#### Открытие данных

In [13]:
df = pd.read_csv('data.csv')
df.info()
df.sample(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       19351 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        19351 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
1363,-1,-1195.264956,55,СРЕДНЕЕ,1,женат / замужем,0,F,компаньон,0,69550.699692,профильное образование
14833,0,-1795.960017,36,высшее,0,гражданский брак,1,F,госслужащий,0,155726.028903,на проведение свадьбы
15539,0,387644.617455,68,высшее,0,женат / замужем,0,F,пенсионер,0,62919.422630,покупка недвижимости
9980,0,-3183.400143,46,среднее,1,женат / замужем,0,F,сотрудник,0,147801.380127,покупка жилья для сдачи
12929,0,NaN,48,среднее,1,Не женат / не замужем,4,F,сотрудник,0,NaN,ремонт жилью

#### Вывод

Каждая строка таблицы содержит информацию о количестве детей, семейном положении, , трудвом стаже в днях, возрасте, уровне образования, семейном положении, гендерной идентификации, зарплате, задолженности и цели кредита.
Названия столбцов удовлетворительны: без пробелов, использована латиница.

## 2. Предобработка данных
### 2.1. Обработка пропусков

In [3]:
# приведение строк в столбце к нижнему регистру
df['education'] = df['education'].str.lower()

# Убраны данные с артефатками в столбце "children" 
df = df[(df['children']>=0) & (df['children']<=10)]

# убран возраст, которым не выдают кредиты
df = df[(df['dob_years']> 18) & (df['dob_years']<75) ]

# Заменены отрицательные значения при помощи модуля
df['days_employed'] = df['days_employed'].abs()

#Добавил столбец с количеством лет стажа
df['years_employed'] = df['days_employed'] / 365

#медианное знач. выборки дней, где стаж реален
days_employed_avg = df[((df['dob_years']-14)-df['years_employed'])>=0]['days_employed'].median() 

# медианное знач выборка лет
years_employed_avg = df[((df['dob_years']-14)-df['years_employed'])>=0]['years_employed'].median() # --||-- выборка лет
total_income_avg = df[((df['dob_years']-14)-df['years_employed'])>=0]['total_income'].median() # --//-- выборка зарплат
df['total_income'] = df['total_income'].fillna(total_income_avg)
df['days_employed'] = df['days_employed'].fillna(days_employed_avg)
df['years_employed'] = df['years_employed'].fillna(years_employed_avg)
df.isna().sum() # Обработаны пропуски

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
years_employed      0
dtype: int64

<div class="alert alert-success">
<h2> Комментарий ревьюера</h2>

Обрати внимание, что метод `fillna()` можно было применить с помощью цикла `for`. 

</div>

### Вывод

Работа с артефактами:
1. Детей не может быть меньше нуля. Также у 76 семей обнаружилось аж 20 детей, при этом количество семей, у которых меньше 20 и более 5 детей, равно 0. Данные удалены, так как процент данных семей менее 1 %.
2. Стаж не может иметь отрицательное количество дней. Применил математичский модуль, чтобы избавиться от минуса.


Пустые значения имелись в двух столбцах: 'days_employed' и 'total_income'. Обнаружена закономерность, что если доход отсутвует, то информации о стаже также нет. Пропуски были заменены на медианное значение.

<div class="alert alert-success">
<h2> Комментарий ревьюера</h2>

Было бы интересно увидеть твои мысли, почему заменил пустые значения, на какие–либо другие. 
    
Так становится проще понять твою логику действий. 

</div>

### Замена типа данных

In [4]:
df['days_employed'] = df['days_employed'].astype('int')

### Вывод

Заменен вещественный тип данных на целочисленный в столбце 'days_employed', так как общий трудовой стаж в днях
нет смысла считать не целыми числами

### Обработка дубликатов

In [5]:
df.duplicated().sum()
df = df.drop_duplicates().reset_index(drop = True)
df.duplicated().sum()

0

### Вывод

Дубликаты могли появиться вследствие сбоя в записи данных. Стоит обратить внимание и разобраться с причинами появления такого «информационного мусора».

### Лемматизация

In [6]:
import pymystem3
from collections import Counter

sentences = df['purpose'].unique() # Найдены неповторяющиеся значения при помощи unique, чтобы не перебирать каждую
#строку отдельно


stemmer = pymystem3.Mystem()
#Создадим цикл, для лемматизации и дальнешего подсчёта каждого элемента
lemmas_list = []
for element in sentences:
    lemma1 = stemmer.lemmatize(element)
    lemmas_list = lemmas_list + lemma1
    
print(Counter(lemmas_list))

Counter({' ': 59, '\n': 38, 'покупка': 10, 'недвижимость': 10, 'автомобиль': 9, 'образование': 9, 'жилье': 7, 'с': 5, 'операция': 4, 'на': 4, 'свой': 4, 'свадьба': 3, 'строительство': 3, 'получение': 3, 'высокий': 3, 'дополнительный': 2, 'для': 2, 'коммерческий': 2, 'жилой': 2, 'заниматься': 2, 'сделка': 2, 'приобретение': 1, 'сыграть': 1, 'проведение': 1, 'семья': 1, 'собственный': 1, 'подержать': 1, 'со': 1, 'подержанный': 1, 'профильный': 1, 'сдача': 1, 'ремонт': 1})

### Вывод

Наибольшее повторение лемы: 'покупка', 'недвижимость', 'автомобиль', 'образование', 'свадьба'. Полученные данные помогут при создании словаря и категоризации данных.

### Категоризация данных

In [7]:

def create_lemmas(sentence):
    """
    Функция возвращает список лемм для предложения sentence
    Предложение будет переведено в нижний регистр
    """
    return stemmer.lemmatize(sentence.lower())

# Словарь ключевых слов и их категорий.

category = {
    'жилье': 'недвижимость',
    'недвижимость': 'недвижимость',
    'автомобиль': 'автомобиль',
    'образование': 'образование',
    'свадьба': 'свадьба'
}
purpose_categ = []
# Идем по списке предложений
for sentence in sentences:
    # и создаем список лемм для каждого из них.
    lemmas = create_lemmas(sentence.lower())
    # Теперь идем по списку лемм и ищем их принадлежность к той или иной категории
    for lemma in lemmas:
        if lemma in category.keys():
            purpose_categ.append(category[lemma])
            #print('Категория для "{}" это "{}"'.format(sentence, category[lemma]))
            # и прекращаем перебирать леммы
            break
    # если цикл не прервался принудительно (через break)
    else:
        # Если нет категории в словаре, то присваивается значение 'прочее'
        purpose_categ.append('прочее')

# Создаётся таблица с категориями, которые соотнесены с лемматизированными причинами
category = pd.DataFrame({'purpose':sentences}) 
category['purpose_cat'] = purpose_categ 
df = df.merge(category, on='purpose')   
df.tail(5)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,years_employed,purpose_cat
21225,1,379878,52,среднее,1,женат / замужем,0,F,пенсионер,0,92997.470761,заняться высшим образованием,1040.761664,образование
21226,0,1629,67,высшее,0,женат / замужем,0,F,пенсионер,0,151156.766892,заняться высшим образованием,4.465748,образование
21227,3,3039,26,высшее,0,женат / замужем,0,F,компаньон,0,302642.330826,заняться высшим образованием,8.327818,образование
21228,0,1117,47,среднее,1,гражданский брак,1,F,сотрудник,0,231833.290488,заняться высшим образованием,3.061069,образование
21229,0,184,34,среднее,1,гражданский брак,1,F,сотрудник,0,90529.732781,заняться высшим образованием,0.505890,образование

<div class="alert alert-success">
<h2> Комментарий ревьюера</h2>

Категории целей кредитов определены верно. 
    
Здорово, что в описании функции используем докстринг. В больших функциях проще всего понять, что делает та или иная функция. 
    
</div>

### Вывод

Категоризация данных проведена по созданному словарю из лемм столбца 'причин', которые наиболее часто встречаются в столбце 'purpose'

### Шаг 3. Ответьте на вопросы

- Есть ли зависимость между наличием детей и возвратом кредита в срок?

In [8]:
df_children = df.loc[:,['children', 'debt']] # создание таблицы со столбцами детей и задолженности
df_children['child'] = df_children['children']>0  #создание столбца о наличии детей

df_child1 = df_children.pivot_table(index='children', values='debt',)#проверка зависимости при помощи pivot_table и среднего зн.
df_child2 = df_children.pivot_table(index='child', values='debt',)
print(df_child1, df_child2)

              debt
children
0         0.075458
1         0.092028
2         0.095145
3         0.082317
4         0.097561
5         0.000000            debt
child
False  0.075458
True   0.092385

### Вывод

При отсутсвии детей, кредит возвращался на 2% больше, чем когда они имеются

<div class="alert alert-success">
<h2> Комментарий ревьюера</h2>

Верно. 

</div>

- Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [9]:

df.pivot_table(index='family_status', values='debt')

                           debt
family_status
Не женат / не замужем  0.097842
в разводе              0.071247
вдовец / вдова         0.065608
гражданский брак       0.093119
женат / замужем        0.075575

### Вывод

У людей, состоящих или состоявших в браке, процент возврата кредита в срок выше, чем у не женатых/ не замужных

<div class="alert alert-success">
<h2> Комментарий ревьюера</h2>

Верно. 

</div>

- Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [10]:
df_income = df.loc[:,['total_income', 'debt']]
df_income['low'] = df_income['total_income']<50000  # поделили на низкий, средний и высокий уровень дохода
df_income['med'] = (df_income['total_income']>=50000) & (df_income['total_income']<150000)
df_income['high'] = (df_income['total_income']>=150000)
#df_income.pivot_table(index='med', values='debt')
print(df_income.pivot_table(index='low', values='debt'),
      df_income.pivot_table(index='med', values='debt'),
     df_income.pivot_table(index='high', values='debt'))

           debt
low
False  0.081540
True   0.062331            debt
med
False  0.078950
True   0.083892            debt
high
False  0.083101
True   0.079499

### Вывод

Отличается, но не существенно

<div class="alert alert-success">
<h2> Комментарий ревьюера</h2>

Верно. 

---
    
Хотелось бы в том числе увидееть почему были выбраны текущие уровни доходов.
    
---
    
Обрати внимание, что наши действия начинают повторяться. Это говорит о том, что мы можем оптимизировать свои действия – создав например фунецию. 
    
</div>

- Как разные цели кредита влияют на его возврат в срок?

In [11]:
df.pivot_table(index='purpose_cat', values='debt')

                  debt
purpose_cat
автомобиль    0.093236
недвижимость  0.072590
образование   0.092971
свадьба       0.078730

### Вывод

Кредит на недвижимость и образование возрващают в срок на 2% чаще.

<div class="alert alert-success">
<h2> Комментарий ревьюера</h2>

Верно. 

</div>

### Шаг 4. Общий вывод

Вероятность возврата в срок выше у тех, кто оформляет кредит на недвижимость, или имея низкий доход, или те, кто состоит или состоял в браке.

<div class="alert alert-success">
<h2> Комментарий ревьюера</h2>

Выводы понятны и логичны, а самое главное подкреплены выявленными фактами.
    
Обрати пожалуйста внимание, что финальный вывод и есть главный результат твоей работы. Стоит писать его подробно по результатам проведенной работы. Также можно расписать все, что было сделано в работе.

Здорово, что мы сформировали конкретную рекомендацию для коллег из смежных департаментов, это и есть профессиональный уровень :)
    
В целом сам проект выполнен на хорошем уровне! На протяжении всей работы чувствуется глубина проработки задачи и это безусловный плюс для нас. Было использовано большое количество методов, которые будут помогать тебе в дальнейших проектах.
    
Не стоит забывать про оформление своей работы, это важный такой же важный этап. Рекомендую «не стесняться» использовать ячейки типа **markdown** там где нам необходимо отобразить свои размышления, в том числе с использованием дополнительной стилизации.
    
Успехов тебе в новых проектах! 
    
</div>

<div class="alert alert-success">
<h2> Комментарий ревьюера</h2>

Выводы понятны и логичны, а самое главное подкреплены выявленными фактами.
    
Обрати пожалуйста внимание, что финальный вывод и есть главный результат твоей работы. Стоит писать его подробно по результатам проведенной работы. Также можно расписать все, что было сделано в работе.

Здорово, что мы сформировали конкретную рекомендацию для коллег из смежных департаментов, это и есть профессиональный уровень :)
    
В целом сам проект выполнен на хорошем уровне! На протяжении всей работы чувствуется глубина проработки задачи и это безусловный плюс для нас. Было использовано большое количество методов, которые будут помогать тебе в дальнейших проектах.
    
Не стоит забывать про оформление своей работы, это важный такой же важный этап. Рекомендую «не стесняться» использовать ячейки типа **markdown** там где нам необходимо отобразить свои размышления, в том числе с использованием дополнительной стилизации.
    
Успехов тебе в новых проектах! 
    
</div>

### Чек-лист готовности проекта

Поставьте 'x' в выполненных пунктах. Далее нажмите Shift+Enter.

- [x]  открыт файл;
- [x]  файл изучен;
- [x]  определены пропущенные значения;
- [x]  заполнены пропущенные значения;
- [x]  есть пояснение, какие пропущенные значения обнаружены;
- [x]  описаны возможные причины появления пропусков в данных;
- [x]  объяснено, по какому принципу заполнены пропуски;
- [x]  заменен вещественный тип данных на целочисленный;
- [x]  есть пояснение, какой метод используется для изменения типа данных и почему;
- [x]  удалены дубликаты;
- [x]  есть пояснение, какой метод используется для поиска и удаления дубликатов;
- [x]  описаны возможные причины появления дубликатов в данных;
- [x]  выделены леммы в значениях столбца с целями получения кредита;
- [x]  описан процесс лемматизации;
- [x]  данные категоризированы;
- [x]  есть объяснение принципа категоризации данных;
- [x]  есть ответ на вопрос: "Есть ли зависимость между наличием детей и возвратом кредита в срок?";
- [x]  есть ответ на вопрос: "Есть ли зависимость между семейным положением и возвратом кредита в срок?";
- [x]  есть ответ на вопрос: "Есть ли зависимость между уровнем дохода и возвратом кредита в срок?";
- [x]  есть ответ на вопрос: "Как разные цели кредита влияют на его возврат в срок?";
- [x]  в каждом этапе есть выводы;
- [x]  есть общий вывод.